input {

  file {
      type => "json"
      path => "/log/*.json"
      exclude => "*.gz"
      start_position => "beginning"
  }

}

filter {
    json {
        source => "message"
    }
}

output {
  elasticsearch {
      hosts => "elasticsearch"
      ssl => "false"
      user => "logstash_system"
      password => "changeme"
    }
  stdout {
    codec => rubydebug
  }
}